.grid-container {
    display: grid;
    gap: 50px;
    grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
    text-align: center;
  }

.item1 { 
    grid-area: header; 
} 

.item2 { 
    grid-area: menu;
    background-color: aquamarine;
}

.item3 { 
    grid-area: main; 
}

.item4 { 
    grid-area: right; 
    background-color: rgb(234, 82, 82);
}

.item5 { 
    grid-area: footer; 
}
