@import url(https://fonts.googleapis.com/css?family=Abril+Fatface|Poppins);
html {
  width: 100%;
  min-height: 100%;
}

body {
  background-image: url("https://images.unsplash.com/photo-1501618669935-18b6ecb13d6d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1149&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.articleParagraph {
  font-family: Poppins, sans-serif;
}

ul {
  font-family: Poppins, sans-serif;
}

header {
  border-style: solid;
  border-color: black;
  font-family: "Abril Fatface", serif;
  background-color: rgba(255, 255, 255, 0.336);
  margin: 8% 22% 0% 20%;
}

h1 {
  text-align: center;
  letter-spacing: 10px;
}

/*all nav styles*/
nav {
  border-style: solid;
  display: flex;
  flex-flow: column wrap;
  flex-basis: 30%;
  margin: 3% 0% 0% 14%;
  height: 100%;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #f1f1f1;
  border: 1px solid #555;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  text-align: center;
  border-bottom: 1px solid #555;
}

li a :last-child {
  border-bottom: none;
}

li a.active {
  background-color: rgb(224, 193, 125);
  color: black;
  font-weight: bolder;
}

li a:hover:not(.active) {
  background-color: rgb(222, 209, 180);
  color: rgb(40, 66, 66);
}
/*end of nav styles*/

/*start of flex that includes nav + p + ul under p*/

.row-flex {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  margin-top: 0%;
}

article {
  display: flex;
  flex-flow: column wrap;
  flex-basis: 33%;
  margin: 1% 10% 0% 5%;
}

h2 {
  font-family: "Abril Fatface", serif;
  text-align: center;
}

.articleParagraph {
  text-align: justify;
  justify-content: center;
  margin: 0 3%;
}

.linkContainer {
  margin-top: 10%;
}

.linkToSecondPage {
  text-align: center;
  display: block;
  font-size: 24px;
  font-family: Poppins, sans-serif;
  text-decoration: none;
  color: #333;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  padding: 10px;
  letter-spacing: 2px;
  transition: all 0.25s;
}

.linkToSecondPage:hover {
  letter-spacing: 15px;
  font-weight: bold;
}

footer {
  margin: 2% 15% 0% 15%;
  padding-bottom: 5%;
  display: flex;
  text-align: left;
  flex-flow: column nowrap;
}

.pFooter {
  color: gray;
  font-family: Poppins, sans-serif;
  font-style: italic;
}

/*portatili*/
@media only screen and (max-width: 1366px) {
  header {
    margin-top: 13%;
  }
}

/*piccoli portatili da 1200px a 1366px*/
@media only screen and (min-width: 1200px) {
  body {
    background-size: 100% 100%;
  }
  header {
    margin-top: 13%;
  }
  footer {
    margin-bottom: 5%;
    margin-left: 15%;
  }
}

/*tablets devices da 768px a 1199px*/
@media only screen and (max-width: 1199px) {
  body {
    background-image: url("https://images.unsplash.com/photo-1598620617148-c9e8ddee6711?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  header {
    margin: 5% 8% 0% 14%;
  }

  .row-flex {
    display: flex;
    flex-flow: column-reverse nowrap;
  }
  article {
    background-color: rgb(255, 255, 255, 0.5);
    margin: 2% 9% 0% 15%;
  }

  .linkContainer {
    background-color: rgb(255, 255, 255, 0.5);
  }

  nav {
    margin: 2% 9% 0% 15%;
  }

  .nav-list {
    background-color: rgb(255, 255, 255, 0.5);
  }

  .pFooter {
    color: black;
    background-color: rgb(255, 255, 255, 0.5);
    margin: 2% 9% 0% 15%;
    font-size: 2vw;
  }
}

/*piccoli tablet da 600px a 768px*/
@media only screen and (max-width: 768px) {
  header {
    margin: 11% 9% 0% 14%;
    font-size: 3vw;
  }

  .row-flex {
    font-size: 3vw;
  }

  article {
    margin: -3% 11% 0% 16%;
  }
  nav {
    margin: 5% 11% 0% 16%;
  }

  .linkToSecondPage {
    font-size: 5vw;
  }

  .linkToSecondPage:hover {
    letter-spacing: 5px;
    font-size: 5vw;
    font-weight: bold;
  }

  footer {
    display: block;
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  header {
    margin: 11% 10% 0% 14%;
    font-size: 3vw;
  }

  .pagesList {
    margin-right: 6%;
    text-align: justify;
  }
}
